.app {
  font-size: 1em;
}

.app__header {
  padding: 0 1em;
  background: #2f6ab0;
  background: -webkit-linear-gradient(to right, #2f6ab0, #c553df);
  background: linear-gradient(to right, #2f6ab0, #c553df);
  color: white;
  overflow: hidden;
}

.app__header h1 {
  cursor: pointer;
}

.app__spinner {
  margin: 1em;
}

.no-repos {
  padding: 1em;
}
